.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform ease 0.5s;
  padding: 2px 0;
  .item-block {
    width: 50px;
    height: 50px;
  }
}

.item-container:hover {
  transform: scale(1.5);
}
