body {
  //"114,106,149", "112,159,176", "160,193,184", "244,235,193"
  --first: rgb(22, 36, 71);
  --second: rgb(31, 64, 104);
  --third: rgb(27, 27, 47);
  --forth: rgb(228, 63, 90);

  --text: #fff;
}
