body {
  //"114,106,149", "112,159,176", "160,193,184", "244,235,193"
  --first: rgb(114, 106, 149);
  --second: rgb(112, 159, 176);
  --third: rgb(160, 193, 184);
  --forth: rgb(244, 235, 193);

  --text: #fff;
}
